doctype html
html
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular/angular.js')
  body
    block content
